$corDeFundo: #4b0b02 ;
$corTextoPrincipal: rgb(221, 177, 177);
$corTextoSecundaria: rgba(255, 255, 255, 0.976);
$corDeFundoBotaoPrimario: #610303b2;
$corDeFundoBotaoSecudario: #bb8b8b;
$corDeFundoBotaoDark: #000;
